node-red/config/flows.json
[
    {
        "id": "ef8f9b32dc650502",
        "type": "tab",
        "label": "itki_bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f28686888d6bd2a",
        "type": "chatbot-telegram-node",
        "botname": "ITKI_bot",
        "usernames": "",
        "polling": "100",
        "store": "",
        "log": "",
        "debug": true,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "962bcd24965c1c6c",
        "type": "telegram bot",
        "botname": "ITKI_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "none",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d8f1225757fcd093",
        "type": "chatbot-telegram-receive",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "11299c98bba5c8d0",
                "d5db58cbad6ccb63"
            ]
        ]
    },
    {
        "id": "6bc1c3172ea348be",
        "type": "chatbot-telegram-send",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1210,
        "y": 820,
        "wires": []
    },
    {
        "id": "11299c98bba5c8d0",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "inbound message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "846cbba6d24c7182",
        "type": "chatbot-telegram-menu",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "items": [
            {
                "command": "/help",
                "description": "Відповіді на часті запитання"
            },
            {
                "command": "/where_is",
                "description": "Знайти розташування аудитоорії по номеру"
            },
            {
                "command": "/curator",
                "description": "Знайти куратора по номеру групи"
            },
            {
                "command": "/schedule",
                "description": "Отримати останній розклад ФІТ"
            }
        ],
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bbda5ba0781f72e",
        "type": "inject",
        "z": "ef8f9b32dc650502",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "846cbba6d24c7182"
            ]
        ]
    },
    {
        "id": "d5db58cbad6ccb63",
        "type": "chatbot-rules",
        "z": "ef8f9b32dc650502",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/where_is"
            },
            {
                "type": "command",
                "command": "/help"
            },
            {
                "type": "command",
                "command": "/curator"
            },
            {
                "type": "command",
                "command": "/schedule"
            },
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "notMessageType",
                "messageType": "command"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 7,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "0ec9e83584699c2b"
            ],
            [
                "9601e27c5c08ab08"
            ],
            [
                "7c4bae2579650d46"
            ],
            [
                "bcbf3adc5918dcb6"
            ],
            [
                "6207f6baa19bfda1",
                "975ad5c429fc95de"
            ],
            [
                "20a71a061e8c5f20"
            ],
            [
                "a8559b57b8d3879f"
            ]
        ]
    },
    {
        "id": "ef41fc39b74f7085",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "",
        "message": [
            {
                "message": "Введи номер аудиторії (поки підтримується тільки корпус 7)"
            }
        ],
        "language": "none",
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "b8cc7e425cdc6abf"
            ]
        ]
    },
    {
        "id": "b8cc7e425cdc6abf",
        "type": "chatbot-telegram-send",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "9acfe5a74488b916"
            ]
        ]
    },
    {
        "id": "9acfe5a74488b916",
        "type": "chatbot-parse",
        "z": "ef8f9b32dc650502",
        "name": "",
        "parseType": "number-integer",
        "parseVariable": "cabinet",
        "x": 600,
        "y": 1500,
        "wires": [
            [
                "de9e296e576e16d9"
            ],
            [
                "ef0fd14b9f699474"
            ]
        ]
    },
    {
        "id": "6207f6baa19bfda1",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "welcome message",
        "message": [
            {
                "message": "Привіт! Я твій особистий помічник ITKI-bot. Ознайомся з командами які я можу виконати натиснувши /"
            }
        ],
        "language": "none",
        "x": 730,
        "y": 900,
        "wires": [
            [
                "cf32863c571a6118"
            ]
        ]
    },
    {
        "id": "14dcac47d6fa8938",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "find floor",
        "func": "msg.floor = Math.floor(msg.chat().get('cabinet') / 100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1460,
        "wires": [
            [
                "d97158d544f83b7c"
            ]
        ]
    },
    {
        "id": "de9e296e576e16d9",
        "type": "switch",
        "z": "ef8f9b32dc650502",
        "name": "is valid number",
        "property": "msg.chat().get('cabinet')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 1480,
        "wires": [
            [
                "14dcac47d6fa8938"
            ],
            [
                "ef0fd14b9f699474"
            ]
        ]
    },
    {
        "id": "ef0fd14b9f699474",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "invalid number",
        "message": [
            {
                "message": "Було введено не правильний номер кабінету. Виконай команду /where_is знов"
            }
        ],
        "language": "none",
        "x": 980,
        "y": 1540,
        "wires": [
            [
                "b652a5b7ed33e00c"
            ]
        ]
    },
    {
        "id": "d97158d544f83b7c",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "Answer",
        "message": [
            {
                "message": "Аудиторія знаходиться у 7 корпусі на {{floor}} поверсі"
            }
        ],
        "language": "none",
        "x": 1160,
        "y": 1460,
        "wires": [
            [
                "b96b9e7155c9a0da"
            ]
        ]
    },
    {
        "id": "a8559b57b8d3879f",
        "type": "chatbot-ask",
        "z": "ef8f9b32dc650502",
        "name": "remove buttons and send error",
        "buttons": [],
        "message": "Невідома команда ",
        "x": 690,
        "y": 960,
        "wires": [
            [
                "4e6ba142399aabc8"
            ]
        ]
    },
    {
        "id": "9601e27c5c08ab08",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "set buttons",
        "func": "const questions = Object.keys(flow.get(\"questions\"));\nlet buttons = [];\nfor (let i = 0; i < questions.length; i++) {\n    buttons.push({ type: 'newline' });\n    buttons.push({ type: 'keyboardButton', label: questions[i] });\n}\nmsg.payload = { \n    \"type\": \"telegram-buttons\",\n    \"content\": \"Вибери питання на яке хочеш отримати відповідь\",\n    \"chatId\": msg.payload.chatId,\n    \"buttons\": buttons,\n    \"oneTimeKeyboard\": true\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 760,
        "wires": [
            [
                "60263b02fe0a7c71"
            ]
        ]
    },
    {
        "id": "e5df729bd1882412",
        "type": "inject",
        "z": "ef8f9b32dc650502",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "34f44f136d5ac470"
            ]
        ]
    },
    {
        "id": "67adf457139ad431",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/telegramSeder",
        "links": [
            "60263b02fe0a7c71",
            "4e6ba142399aabc8",
            "cf32863c571a6118",
            "b96b9e7155c9a0da",
            "b652a5b7ed33e00c",
            "2beae5b7bba77a81",
            "4d98901a1e6fbe96",
            "0a2a562c5bbb492f",
            "8e1c031c62a3223c"
        ],
        "x": 1055,
        "y": 820,
        "wires": [
            [
                "6bc1c3172ea348be"
            ]
        ]
    },
    {
        "id": "60263b02fe0a7c71",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 835,
        "y": 760,
        "wires": []
    },
    {
        "id": "4e6ba142399aabc8",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 905,
        "y": 960,
        "wires": []
    },
    {
        "id": "cf32863c571a6118",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 895,
        "y": 900,
        "wires": []
    },
    {
        "id": "b96b9e7155c9a0da",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 1265,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b652a5b7ed33e00c",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 1125,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ab0e068ac6c0b1cb",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "set data to env flow",
        "info": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5d427bdd19a2e0a",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "set menu",
        "info": "",
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0ef40219fc3b113",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "handle message ",
        "info": "",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "4925551eac952776",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "handle button",
        "info": "",
        "x": 130,
        "y": 1640,
        "wires": []
    },
    {
        "id": "45b28a3dcc0e4f26",
        "type": "switch",
        "z": "ef8f9b32dc650502",
        "name": "is right button",
        "property": "isRight",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 1700,
        "wires": [
            [
                "0005f3de40515888"
            ],
            [
                "cf3b71e5c6f781ea"
            ]
        ]
    },
    {
        "id": "20a71a061e8c5f20",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "a8bb9967c68c74c2"
        ],
        "x": 575,
        "y": 900,
        "wires": []
    },
    {
        "id": "a8bb9967c68c74c2",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/handleButton",
        "links": [
            "20a71a061e8c5f20",
            "262204abeb1fbbf8"
        ],
        "x": 145,
        "y": 1700,
        "wires": [
            [
                "fc7f91448ed5ce03"
            ]
        ]
    },
    {
        "id": "2beae5b7bba77a81",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 1165,
        "y": 1700,
        "wires": []
    },
    {
        "id": "fc7f91448ed5ce03",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "is right Button",
        "func": "msg.isRight = Object.keys(flow.get(\"questions\")).includes(msg.payload.content);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "45b28a3dcc0e4f26"
            ]
        ]
    },
    {
        "id": "7d3695e449ad3bb6",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "set quetions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "cf3b71e5c6f781ea",
        "type": "chatbot-ask",
        "z": "ef8f9b32dc650502",
        "name": "remove buttons and send error",
        "buttons": [],
        "message": "На це питання я не знаю відповіді, виконай команду /help, щоб переглянути поточний список питань",
        "x": 910,
        "y": 1740,
        "wires": [
            [
                "2beae5b7bba77a81"
            ]
        ]
    },
    {
        "id": "0005f3de40515888",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "send answer",
        "func": "msg.payload = { \n    \"type\": \"message\",\n    \"content\": flow.get(\"questions\")[msg.payload.content],\n    \"chatId\": msg.payload.chatId,\n    \"inbound\": false,\n    \"fallback\": null \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1680,
        "wires": [
            [
                "2beae5b7bba77a81"
            ]
        ]
    },
    {
        "id": "0ec9e83584699c2b",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "05887e897f7af058"
        ],
        "x": 505,
        "y": 740,
        "wires": []
    },
    {
        "id": "05887e897f7af058",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/where_is",
        "links": [
            "0ec9e83584699c2b",
            "22d93b6af0e3e632"
        ],
        "x": 105,
        "y": 1500,
        "wires": [
            [
                "ef41fc39b74f7085"
            ]
        ]
    },
    {
        "id": "999e3fc17ebd6627",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "where is",
        "info": "",
        "x": 140,
        "y": 1420,
        "wires": []
    },
    {
        "id": "fbc920e4941c6344",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/schedule",
        "links": [
            "bcbf3adc5918dcb6"
        ],
        "x": 115,
        "y": 1320,
        "wires": [
            [
                "c02552101f3f29d3"
            ]
        ]
    },
    {
        "id": "bcbf3adc5918dcb6",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "fbc920e4941c6344"
        ],
        "x": 555,
        "y": 820,
        "wires": []
    },
    {
        "id": "c02552101f3f29d3",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set schedule",
        "rules": [
            {
                "t": "set",
                "p": "file",
                "pt": "msg",
                "to": "schedule",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "scheduleName",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "TELEGRAM_TOKEN",
                "pt": "msg",
                "to": "TELEGRAM_TOKEN",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "4350201ea5960830"
            ]
        ]
    },
    {
        "id": "2bc212af98739a66",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{api}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "7f7b25dcdd2f1faf"
            ]
        ]
    },
    {
        "id": "fd8190b2a0f9fa87",
        "type": "inject",
        "z": "ef8f9b32dc650502",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1cdde8d745fe1abd"
            ]
        ]
    },
    {
        "id": "6e6ba016fcb210b6",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "schedule",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 220,
        "wires": []
    },
    {
        "id": "7f7b25dcdd2f1faf",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "parse link to schedule",
        "func": "const regex = /\\/rasps\\/sched_fit.*\\.xls/gm;\nmsg.link = msg.api + msg.payload.match(regex)[0];\nmsg.filename = msg.link.split(\"/\").at(-1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "7006fa1687b2a9ed"
            ]
        ]
    },
    {
        "id": "1cdde8d745fe1abd",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set nmu API",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "NMU_API",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "2bc212af98739a66"
            ]
        ]
    },
    {
        "id": "4c4817f12d6e7149",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "set schedule to flow",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "46fab0ef50158d41",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "schedule",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "scheduleName",
                "pt": "flow",
                "to": "filename",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "6e6ba016fcb210b6"
            ]
        ]
    },
    {
        "id": "d72d61c576ecd51f",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "schedule",
        "info": "",
        "x": 140,
        "y": 1260,
        "wires": []
    },
    {
        "id": "fcc970d53d7fe96e",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/curator",
        "links": [
            "7c4bae2579650d46"
        ],
        "x": 105,
        "y": 1180,
        "wires": [
            [
                "7315466db17ead42"
            ]
        ]
    },
    {
        "id": "7c4bae2579650d46",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "fcc970d53d7fe96e"
        ],
        "x": 605,
        "y": 800,
        "wires": []
    },
    {
        "id": "5fa41b2097b35ace",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "send curator",
        "message": [
            {
                "message": "Твій куратор - {{curator}}"
            }
        ],
        "language": "none",
        "x": 1190,
        "y": 1220,
        "wires": [
            [
                "0a2a562c5bbb492f"
            ]
        ]
    },
    {
        "id": "0a2a562c5bbb492f",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "67adf457139ad431",
            "3ee8ad858222412f"
        ],
        "x": 1365,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7315466db17ead42",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "",
        "message": [
            {
                "message": "Введи назву групи"
            }
        ],
        "language": "none",
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "d3e8459a15f87e03"
            ]
        ]
    },
    {
        "id": "d3e8459a15f87e03",
        "type": "chatbot-telegram-send",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "596cfe3058c46cc1"
            ]
        ]
    },
    {
        "id": "596cfe3058c46cc1",
        "type": "chatbot-parse",
        "z": "ef8f9b32dc650502",
        "name": "",
        "parseType": "string",
        "parseVariable": "group",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "7f22da732a53b06c"
            ],
            []
        ]
    },
    {
        "id": "7f22da732a53b06c",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "set curator name",
        "func": "let group = msg.chat().get(\"group\")\nmsg.curators = flow.get(\"curators\");\nmsg.curator = msg.curators[group.toLowerCase()]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1180,
        "wires": [
            [
                "d9a61467c7167b3c",
                "1f11dcdfed2c4432"
            ]
        ]
    },
    {
        "id": "d9a61467c7167b3c",
        "type": "switch",
        "z": "ef8f9b32dc650502",
        "name": "",
        "property": "curator",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 1180,
        "wires": [
            [
                "58454ce51bab29ab"
            ],
            [
                "5fa41b2097b35ace"
            ]
        ]
    },
    {
        "id": "58454ce51bab29ab",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "no curator",
        "message": [
            {
                "message": "За групою \"{{group}}\" нічого не знайдено"
            }
        ],
        "language": "none",
        "x": 1190,
        "y": 1140,
        "wires": [
            [
                "0a2a562c5bbb492f"
            ]
        ]
    },
    {
        "id": "1f11dcdfed2c4432",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "curator",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "820de7d814aeb48a",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "curator",
        "info": "",
        "x": 150,
        "y": 1120,
        "wires": []
    },
    {
        "id": "517aa0aebf00f7f4",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "set jwt token to flow",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "ebe01f312b6d7b11",
        "type": "inject",
        "z": "ef8f9b32dc650502",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "77e398b682b071ba"
            ]
        ]
    },
    {
        "id": "77e398b682b071ba",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set credentials",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "API_HOST",
                "tot": "env",
                "dc": true
            },
            {
                "t": "set",
                "p": "login",
                "pt": "msg",
                "to": "API_LOGIN",
                "tot": "env",
                "dc": true
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "API_PASSWORD",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "085880f310e0f2bc"
            ]
        ]
    },
    {
        "id": "4668e72b76a92e00",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 100,
        "wires": [
            [
                "3c826a2ec38946e0",
                "046df3500b4afc41"
            ]
        ]
    },
    {
        "id": "085880f310e0f2bc",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "build request",
        "func": "msg.payload = {\n    \"login\": msg.login,\n    \"password\": msg.password\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [
            [
                "4668e72b76a92e00"
            ]
        ]
    },
    {
        "id": "046df3500b4afc41",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload.token",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3c826a2ec38946e0",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "login",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "34f44f136d5ac470",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set API",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "API_HOST",
                "tot": "env",
                "dc": true
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "3abece931b48d293"
            ]
        ]
    },
    {
        "id": "22edf69576887340",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "get questions",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{api}}/questions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 520,
        "wires": [
            [
                "b456903a2d207bfc"
            ]
        ]
    },
    {
        "id": "3abece931b48d293",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + msg.token;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 560,
        "wires": [
            [
                "22edf69576887340",
                "add3fbcef2802dd3"
            ]
        ]
    },
    {
        "id": "b456903a2d207bfc",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "map questions",
        "func": "msg.questions = {};\nmsg.payload.forEach(question => msg.questions[question.questionText] = question.answerText)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "7d3695e449ad3bb6",
                "39d031439afbd176"
            ]
        ]
    },
    {
        "id": "39d031439afbd176",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "questions",
                "pt": "flow",
                "to": "questions",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "add3fbcef2802dd3",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "get groups with curators",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{api}}/groups",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "dd3c626d7d5e74f1"
            ]
        ]
    },
    {
        "id": "e99094229ade9d81",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "groups",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "dd3c626d7d5e74f1",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "map curators",
        "func": "msg.curators = {};\nmsg.payload.forEach(group => {\n    msg.curators[group.name.toLowerCase()] = `${group.curator.position} `\n    +`каф. ${group.curator.department} `\n    +`${group.curator.lastName} ${group.curator.name} ${group.curator.additionalName}`;\n    });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 620,
        "wires": [
            [
                "e99094229ade9d81",
                "89efb75e86e1beb6"
            ]
        ]
    },
    {
        "id": "89efb75e86e1beb6",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "curators",
                "pt": "flow",
                "to": "curators",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3bc38dd1d4f64216",
        "type": "link in",
        "z": "ef8f9b32dc650502",
        "name": "/saveUser",
        "links": [
            "975ad5c429fc95de"
        ],
        "x": 85,
        "y": 1900,
        "wires": [
            [
                "7bba0ebd14f364dd"
            ]
        ]
    },
    {
        "id": "f1fae590fab55037",
        "type": "comment",
        "z": "ef8f9b32dc650502",
        "name": "save user",
        "info": "",
        "x": 120,
        "y": 1840,
        "wires": []
    },
    {
        "id": "975ad5c429fc95de",
        "type": "link out",
        "z": "ef8f9b32dc650502",
        "name": "/saveUser",
        "mode": "link",
        "links": [
            "3bc38dd1d4f64216"
        ],
        "x": 655,
        "y": 860,
        "wires": []
    },
    {
        "id": "9d65d2d55050c5cf",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "save user",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{api}}/telegram-users",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 1900,
        "wires": [
            [
                "d505aeed7a377193"
            ]
        ]
    },
    {
        "id": "7bba0ebd14f364dd",
        "type": "change",
        "z": "ef8f9b32dc650502",
        "name": "set env variables",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "API_HOST",
                "tot": "env",
                "dc": true
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "users",
                "pt": "msg",
                "to": "users",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 1900,
        "wires": [
            [
                "df3d738c62a961c8"
            ]
        ]
    },
    {
        "id": "12de6157bff48115",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + msg.token;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1900,
        "wires": [
            [
                "9d65d2d55050c5cf"
            ]
        ]
    },
    {
        "id": "df3d738c62a961c8",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "build request",
        "func": "msg.payload = {\n    \"firstName\": msg.originalMessage.from.first_name,\n    \"lastName\": msg.originalMessage.from.last_name,\n    \"username\": msg.originalMessage.from.username,\n    \"externalChatId\": msg.originalMessage.from.id\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1900,
        "wires": [
            [
                "12de6157bff48115"
            ]
        ]
    },
    {
        "id": "d505aeed7a377193",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "save user",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4350201ea5960830",
        "type": "function",
        "z": "ef8f9b32dc650502",
        "name": "build request",
        "func": "msg.payload = {\n    \"document\": {\n        \"value\": msg.file,\n        \"options\": {\n            \"filename\": msg.filename\n        }\n    },\n    \"chat_id\": msg.originalMessage.from.id,\n    \"caption\": msg.caption\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "4b1bd310cb2c6ae4"
            ]
        ]
    },
    {
        "id": "4b1bd310cb2c6ae4",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "send file",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot{{{TELEGRAM_TOKEN}}}/sendDocument",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "multipart/form-data"
            }
        ],
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "bbb8c546f3521a27"
            ]
        ]
    },
    {
        "id": "bbb8c546f3521a27",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "send schedule",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7006fa1687b2a9ed",
        "type": "http request",
        "z": "ef8f9b32dc650502",
        "name": "get bin schedule",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "{{{link}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "46fab0ef50158d41"
            ]
        ]
    }
]