node-red/config/flows.json
[
    {
        "id": "ef8f9b32dc650502",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f28686888d6bd2a",
        "type": "chatbot-telegram-node",
        "botname": "ITKI_bot",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": true,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "d8f1225757fcd093",
        "type": "chatbot-telegram-receive",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "11299c98bba5c8d0",
                "d5db58cbad6ccb63"
            ]
        ]
    },
    {
        "id": "6bc1c3172ea348be",
        "type": "chatbot-telegram-send",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "11299c98bba5c8d0",
        "type": "debug",
        "z": "ef8f9b32dc650502",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "846cbba6d24c7182",
        "type": "chatbot-telegram-menu",
        "z": "ef8f9b32dc650502",
        "bot": "2f28686888d6bd2a",
        "items": [
            {
                "command": "/test",
                "description": "test command"
            },
            {
                "command": "/command",
                "description": "command"
            }
        ],
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bbda5ba0781f72e",
        "type": "inject",
        "z": "ef8f9b32dc650502",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "846cbba6d24c7182"
            ]
        ]
    },
    {
        "id": "32ead40934bc62c2",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "",
        "message": [
            {
                "message": "Test ping"
            }
        ],
        "language": "none",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "6bc1c3172ea348be"
            ]
        ]
    },
    {
        "id": "d5db58cbad6ccb63",
        "type": "chatbot-rules",
        "z": "ef8f9b32dc650502",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/command"
            },
            {
                "type": "command",
                "command": "/test"
            }
        ],
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "ef41fc39b74f7085"
            ],
            [
                "32ead40934bc62c2"
            ]
        ]
    },
    {
        "id": "ef41fc39b74f7085",
        "type": "chatbot-message",
        "z": "ef8f9b32dc650502",
        "name": "",
        "message": [
            {
                "message": "command pong"
            }
        ],
        "language": "none",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "6bc1c3172ea348be"
            ]
        ]
    }
]